* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(0deg, 0%, 60%);
  line-height: 1.6;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.shadow {
  border-width: 6px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.shadow-dark {
  border-color: hsl(0deg, 0%, 30%);
}

.background-gold {
  background-color: hsl(45deg, 100%, 50%);
}

.shadow-gold {
  border-color: hsl(45deg, 100%, 40%);
}

header {
  padding-top: 64px;
  padding-bottom: 32px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

header h1 {
  margin-bottom: 48px;
}

header p {
  font-size: 1.25rem;
}

header {
  background-color: hsl(0deg, 0%, 100%);
}

main > * {
  /* Try to satisfy the no-margin-at-component-boundaries rule. */
  margin: 64px 0;
}

.intro-chunk {
  max-width: 300px;
  /* Highly annoying: the spacing here has to be consistent with the spacing in .card. */
  margin-left: 24px;
  margin-right: 24px;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: white;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
}

.indented-heading {
  max-width: fit-content;
  padding: 16px 40px;
  margin-top: -16px;
  margin-left: -40px;
}
